{% load static %}


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-dark">
    <div class="container">
        <section class="footer-top padding-y-sm">
            <div class="row">
                <aside class="col-md-4">
                    <h5 class="title">About us</h5>
                    <p>GreatKart is your one-stop online shopping destination. We offer a wide range of products at
                        unbeatable prices.</p>
                </aside> <!-- col.// -->
                <aside class="col-md-4">
                    <h5 class="title">Contact</h5>
                    <ul class="list-unstyled">
                        <li>Address: 123 Main Street, City</li>
                        <li>Phone: +123 456 7890</li>
                        <li>Email: info@greatkart.com</li>
                    </ul>
                </aside> <!-- col.// -->
                <aside class="col-md-4">
                    <h5 class="title">Follow us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                    </ul>
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </section> <!-- footer-top.// -->
    </div> <!-- container.// -->
</footer> <!-- section-footer.// -->
<!-- ========================= SECTION  END// ========================= -->